body {
    margin: 0;
    padding: 0;
    background-image: url(background.jpg);
    background-size: cover;
}

.main {
    padding-top: 100px;
}

b {
    color: #E57373;
}

.contact-link {
    color: black;
}

span {
    font-size: 20px;
}

a {
    text-decoration: none;
}


footer {
    color: gray;
}

